.App {
  text-align: center;
  background-image: url("./video.gif");
  width: 100vw;
  /* flex-direction: column; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: black;
}

.Navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  background-image: linear-gradient(#303030a9, rgba(0, 0, 0, 0));
  padding: 1.10rem;
}

.stylisethisbutton {
  padding: 1rem;
  border-radius: 50%;
  margin: 2rem;
  color: white;
}

section {
  margin: 1rem auto;
  width: 35rem;
  height: fit-content;
  max-width: 75rem;
  text-align: center;
  color: #000;
  background-color: #ffffff85;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.bookcover {
  max-height: 50vh;
  overflow: none;
}
.bookcover:img{
  height: 50vh;
  width: auto;
}

.GyanWalaDiv {
  margin: 1rem auto;
  width: 35rem;
  height: fit-content;
  max-width: 75rem;
  text-align: center;
  font-size: 15px;
  color: #000;
  background-color: #ffffff85;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.actualGyan {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}
a:hover {
  color: #a459ff;
  text-decoration: none;
}

button {
  padding: 0.75rem 2rem;
  color: #ffffff;
  border-radius: 20px;
  font-size: 20px;
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: #230052;
  box-shadow: 0px 15px 20px #24005275;
  border: none;
  border-radius: 45px;
  transition: all 0.25s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 1rem;
}
button:hover,
button:after,
button:active {
  background-color: #b379ff;
  box-shadow: 0px 15px 20px #240052e1;
  transform: translateY(-7px);
}

h1 {
  display: flex;
  font-size: 1em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  justify-content: center;
}


.AddBillsWalaDiv {
  transition: all 0.3s ease 0s;
  transition-delay: 2s;
  background-color: #e4e4e4bb;
  box-shadow: 0px 0px 20px #ffffff66;
  color: rgb(50, 50, 50);
  width: 50vw;
  padding: 2rem 0rem;
  margin-left: 25vw;
  margin-right: 25vw;
  border-radius: 4rem;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addbill-title {
  background-color: #e4e4e4bb;
  text-align: center;
  font-weight: bold;
  font-family: arial, sans-serif;
  padding: 1rem;
  border-radius: 2rem;
  margin: 1rem;
  border: none;
}
.addbill-title:hover {
  transition-delay: 0.5s;
  background-color: #e4e4e4;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 15px 20px #00000066;
}

.addbill-body {
  background-color: #e4e4e4bb;
  text-align: center;
  font-weight: bold;
  font-family: arial, sans-serif;
  padding: 1rem;
  border-radius: 2rem;
  margin: none;
  border: none;
}
.addbill-body:hover {
  transition-delay: 0.5s;
  background-color: #e4e4e4;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 15px 20px #00000066;
}

.addbillhandler {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #c0c0c0;
  box-shadow: 0px 15px 20px #ffffff66;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 1rem;
}
.addbillhandler:hover {
  background-color: #ffffff;
  box-shadow: 0px 15px 20px #ffffff66;
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}

/*Media queries*/

@media (max-device-width: 510px) {

  section {
    width: 20rem;
    margin: auto 2rem;
  }
  .GyanWalaDiv {
    height: fit-content;
    width: 20rem;
    margin: 2rem 2rem;
  }
  button:hover {
    background-color: #230052;
    box-shadow: 0px 15px 20px #24005275;
    transform: translateY(0px);
  }
  button:after,
  button:active {
    background-color: #230052;
    box-shadow: 0px 15px 20px #240052e1;
    transform: translateY(-7px);
  }
  .AddBillsWalaDiv {
    width: 25rem;
  }
}
